body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#myButton{
    font-size: 3em;
    padding: 5px 15px;
    border-radius: 15px;
}
.labels{
    font-size: 3em;
}
#myButton:hover{
    background-color: blueviolet;
}